* text=auto
.gitattributes text eol=lf
LICENSE text eol=lf
*.md text eol=lf
*.sh text eol=lf
*.sql text eol=lf
*.service text eol=lf
*.timer text eol=lf
*.ps1 text eol=crlf
Dockerfile text eol=lf
Caddyfile text eol=lf
